{% extends "restaurant.html" %}
{% block title %}
meal
{% endblock title %}
{% block content %}
<div class="container-fluid" style="width: 50rem;">
<div class="col-lg-offset-2 col-lg-14">
    <div class="jumbotron">
		<h1 class="display-3">Meals</h1>
    <hr/>
    <div class="text-right">
      <a href="{% url 'add_meal'%}" class="btn btn-outline-secondary btn-lg"> Add new meal</a>
    </div>
   	</div>
    <div>
      <div class="row">
        {% for meal in meals %}
        <div class=" card col-xs-12 col-md-4" style="width: 20rem;">
          {% if meal.image %}
            <img class="card-img-top" src="{{meal.image.url}}" alt="Card image cap">
          {% endif %}
          <div class= card-body>
            <h4 class="card-title"><a href="{% url 'edit_meal' meal.id %}">Name:  {{meal.name}} </a></h4>
            <p class="card-text">Description: {{meal.short_description| linebreaks| truncatechars:30}}</p>
            <p class="card-text">Price: {{meal.price}} KWD</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
</div>
{% endblock content %}
