{% extends "base.html" %}
{% block title %}
restaurant page
{% endblock title %}

{% block script %}
    <script>
      $(document).ready(function(){
        var now = new Date();
        setInterval(function() {
          $.ajax({
            url: '/api/restaurant/order/notification/' + now.toISOString() + '/',
            method: 'GET',
            success: function(data){
              if (data['notification'] === 0) {
                $('.badge').text('');
              } else {
                $('.badge').text(data['notification']);
              }
            },
          })
        }, 3000)
      })
    </script>
{% endblock %}

{% block sidebar%}

  {% url 'restaurant_account' as account_url %}
  {% url 'restaurant_meal' as meal_url %}
  {% url 'restaurant_order' as order_url %}
  {% url 'restaurant_report' as report_url %}

  <div class="text-center">
    <img class="img-circle" src="{{user.restaurant.logo.url}}" width="100" height="100" />
    <br/>
    <br/>
    <h4> Hello, {{ user.get_full_name }} </h4>
    <h5> {{ user.restaurant.name }} </h5>
  </div>
  <hr/>
  <div class="list-group">
    <form class="form-inline my-2 my-lg-0" action="{% url 'home' %}" method="GET">
      <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <span class="text-uppercase"> Profile </span>
    <a href="{% url 'restaurant_account' %}" class="list-group-item {%if request.path == account_url %} active {%endif%}">Account</a>

    <span class="text-uppercase"> DashBoard</span>

    <a href="{% url 'restaurant_meal' %}" class="list-group-item {%if request.path == meal_url %} active {%endif%}">Meals</a>

    <a href="{% url 'restaurant_order' %}" class="list-group-item {%if request.path == order_url %} active {%endif%}">
      Orders
      <span class="badge"></span>
    </a>

    <a href="{% url 'restaurant_report' %}" class="list-group-item {%if request.path == report_url %} active {%endif%}">Reports</a>
  </div>

  {% if request.user.is_authenticated %}
  <div class="text-center">
    <a class="btn btn-outline-secondary" href="{% url 'logout'%}"> Logout </a>
  </div>
  {% else %}
  <div class="text-center">
    <a class="nav-link" href="{% url 'login' %}">Login</a>

    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
  </div>
  {% endif %}

{% endblock sidebar %}
